body{
    color:rgba(31, 31, 31, 0.788);
    margin:0;
    padding: 0;
}

.container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.portfolio{
    display:grid;
    grid-template-columns: 1fr;
    grid-column-gap:20px;
    grid-auto-flow: row dense;
    counter-reset: portfolio;
}

project{
    counter-increment:portfolio;
    cursor: pointer;
    margin-bottom: 20px;
}

.project__image{
    width:100%;
    height: auto;
}

h2{
    margin:0;
    padding:0;
    color:#000;
    margin: 0 0 5px;
}

.project__name::after{
    content:counter(portfolio);
}

.project .project__body{
    display:none;
}

@media screen and (min-width:640px){
    .portfolio{
        grid-template-columns: repeat(4,1fr);
    }
.project__body{
    grid-column: span 4;

}
}